{% extends "base.html" %}


{% block content %}

    
    {% if user.get_username %}
        
        <form action="login_out/" method="post">
            {% csrf_token %}
            <button>Bye</button>
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
        </form>
    {% endif %}

    <button>
        <a href='/register'>
            Regist yourself
            
        </a>
    </button>
    <button>
        <a href='/login'>
            Login yourself
        </a>
    </button>

    {% for listed in list %}
    {% endfor %}

{% endblock %}